@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Volkhov:wght@400;700&display=swap');

$maxWidth: 900px;

$bgVariable: white;
$themeVariable: white;
$textVariable: #222f3e;
$textReversedVariable: #222f3e;
$textThemeVariable: #00d2d3;
// // $textThemeVariable: #2ecc71;
// $textThemeVariable: #38ada9;

$bg: var(--bg);
$theme: var(--theme);
$text: var(--text);
$textReversed: var(--textReversed);
$textTheme: var(--textTheme);
$themeTransition: 0.1s;

$breakpoint: 600px;

$sans: 'Open Sans';
$serif: 'Volkhov';
$mono: monospace;

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $textTheme;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

.project {
    text-decoration: none;
    color: $textTheme;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

br.desktop {
    display: none;

    @media (min-width: $breakpoint) {
        display: inline;
    }
}

.prose {
    font-size: 1.5rem;
    line-height: 1.5;
}

html {
    height: 100%;

    --bg: #{$bgVariable};
    --theme: #{$themeVariable};
    --text: #{$textVariable};
    --textReversed: #{$textReversedVariable};
    --textTheme: #{$textThemeVariable};
}

body {
    margin: 0;
    padding: 0;
    background: $bg;
    color: $text;
    transition: background $themeTransition ease-in-out, color $themeTransition ease-in-out;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    position: relative;

    ::selection {
        background: $textTheme;
        color: $bg;
    }
}

.seperator {
    width: 100%;
    max-width: $maxWidth;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    align-items: center;

    
    .scissors {
        font-size: 1.5rem;
        transform: rotate(-90deg);
    }

    .spacer {
        padding: 0px 5px;
    }
    
    .line {
        border-bottom: 2px dashed black;
        flex-grow: 1;
    }
    
    &.reversed {
        flex-direction: row-reverse;
        
        .scissors {
            transform: rotate(90deg);
        }
    }
}

header {
    display: flex;
    flex-direction: column;
}

.header__hero {
    background: $theme;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: $textReversed;
    transition: background $themeTransition ease-in-out, color $themeTransition ease-in-out;
    position: relative;
    width: 100%;
    
    @media (min-width: $breakpoint) {
        padding: 20px;
        align-items: center;
    }

    h1 {
        font-family: 'Volkhov';
        font-size: 7rem;
        line-height: 1;
        margin: 0;
        margin-bottom: 20px;
    }

    h2 {
        font-family: monospace;
    }

    .header__title {
        position: relative;
        margin: 7rem 0;
        margin-top: 4rem;
        padding: 50px;
        min-height: 70vh;

        @media (min-width: $breakpoint) {
            padding: 0;
            min-height: 0;
        }
    }

    .name {
        color: $textTheme;
        transition: background $themeTransition ease-in-out, color $themeTransition ease-in-out;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        // &:hover {
        // }
    }

    .name-hover {
        opacity: 0.3;
        display: flex;
        flex-direction: row;
        justify-content: start;
        
        @media (min-width: $breakpoint) {
            justify-content: center;
        }
    }

    .header__quote {
        opacity: 0.5;
        display: flex;
        flex-direction: row;
        justify-content: start;
        font-style: italic;
        
        @media (min-width: $breakpoint) {
            justify-content: center;
        }
    }

    .fullstop {
        opacity: 0.2;
    }
}

.header__profile {
    border-radius: 10px;
    margin: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
  
    .base {
        filter: brightness(80%) contrast(100%); // jak1
        margin: 0;
        padding: 0;
        display: block;
    }
    
    .duotone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .duotone--lo {
        background: $text;
        transition: background $themeTransition ease-in-out, color $themeTransition ease-in-out;
        mix-blend-mode: lighten;
    }

    .duotone--lo {
        background: $textTheme;
        transition: background $themeTransition ease-in-out, color $themeTransition ease-in-out;
        mix-blend-mode: darken;
    }
}

.sticky-header {
    background: $theme;    
    padding: 5px;
    color: $textReversed;
    transition: background $themeTransition ease-in-out, color $themeTransition ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    
    a {
        display: block;
        
        padding: 4px 5px;
        padding-bottom: 1px;
        margin: 0 10px;
        border-radius: 5px;

        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        
        
        @media (min-width: $breakpoint) {
            padding: 10px;
            padding-bottom: 7px;
            margin: 0 20px;
        }

        &:hover {
            opacity: 0.75;
        }
    }

    svg {
        fill: $textReversed;
        color: $textReversed;
        width: 30px;
        height: 30px;
    }
}

.about {
    font-size: 1.75rem;
    padding: 70px 20px;
    max-width: $maxWidth;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $breakpoint) {
        font-size: 2rem;
        padding: 70px 50px;
    }
}

.about-description {
    font-size: 0.8em;
    opacity: 0.6;
    font-style: italic;
}

section {
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
    
    .project {
        max-width: $maxWidth;
        margin: auto;
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-family: $serif;

        padding: 20px 0;
        background: $textTheme;
        color: white;

        margin: 0;
        margin-top: 50px;
        margin-bottom: 100px;
        
        @media (min-width: $breakpoint) {
            font-size: 3rem;
            // padding: 0;
            // background: transparent;
            // color: $text;
        }
    }
}

.image-seperator {
    height: 300px;
    width: 100%;
    margin: 40px 0;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border: none;

    // @supports(background-attachment: fixed) {
    //     background-attachment: fixed;
    // } // ios 😡

    @media (min-width: $breakpoint) {
        background-attachment: fixed;
    }
}

.skills {
    display: flex;
    justify-content: center;
    .hidden {
        display: none;
    }
}

.project {
    padding: 10px;
    margin: 10px;
    color: $text;
    font-weight: normal;

    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    $transition: 0.2s;

    transition: border-color $transition ease-in-out,
        box-shadow $transition ease-in-out;

    display: grid;
    grid-gap: 20px;
    grid:
        'img' 1fr
        'tags' auto
        'title' auto
        'desc' auto
        /1fr;

    &:hover {
        text-decoration: none;
    }

    .nda {
        filter: blur(8px)
    }
    
    .tags {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;
        
        .tag {
            padding: 2px 12px;
            border-radius: 100vh;
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-right: 10px;
            margin-bottom: 6px;
            background: $textTheme;
            color: $bg;
        }
    }

    .title {
        grid-area: title;
        font-family: $serif;
        font-size: 2rem;

        .duration {
            opacity: 0.3;
        }
    }
    
    .name {
        font-weight: bold;
        color: $textTheme;
    }

    .dash {
        height: 2px;
        width: 10px;
        background: $text;
        display: inline-block;
        vertical-align: middle;
    }

    .image {
        grid-area: img;
        // align-self: center;
        height: 100%;
    
        overflow: hidden;

        img, video {
            height: 100%;
            width: 100%;
            max-height: 600px;
            object-position: center center;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }
    }

    .description {
        grid-area: desc;
        margin: 10px 0px;
        font-size: 0.9em;

        @media (min-width: $breakpoint) {
            font-size: 1em;
        }

        .aside {
            opacity: 0.3;
        }
    }

    .footer {
        grid-area: footer;

        .aside {
            opacity: 0.3;
        }
    }

    @media (min-width: $breakpoint) {
        padding: 30px;
        grid-gap: 5px 40px;
        grid:
            'img tags' auto
            'img title' auto
            'img desc' 1fr
            'footer footer' auto
            /auto 1fr;

        // &:nth-child(even), 
        &.reversed {
            grid:
            'tags img' auto
            'title img' auto
            'desc img' 1fr
            'footer footer' auto
            /1fr auto;
        }

        .image {
            max-width: 300px;
        }

        &:hover {
            border: 1px solid #f4f4f4;
            box-shadow: 0 4px 10px -3px rgba(0,0,0,.2);
            text-decoration: none;
    
            .image img {
                transform: scale(1.05);
            }
        }
    }
}

.project .name {
    text-decoration-color: $textTheme;
}

// a[href].project:hover .name {
// }

.end {
    text-align: center;

    p {
        padding: 0px 10vw;

        a {
            display: inline-flex;
            align-items: center;
        }
        
        span {
            opacity: 0.5;
        }

        svg {
            width: 20px;
            height: 20px;
            margin-right: 6px;
            padding-top: 2px;
            color: $textTheme;
            fill: $textTheme;
        }
    }
}

.footer
{
    text-align: center;
}

footer {
    padding: 50px;
    margin-top: 30vh;
    text-align: center;

    .copyright {
        margin-bottom: 2px;
    }

    .❤ {
        color: #ee5253;
        font-size: 1.2rem;
        vertical-align: middle;
        display: inline-block;
    }

    a {
        position: relative;
    }

    a:after {
        display: block;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    a:hover:after {
        opacity: 1;
    }
}

.jakbarnes {
    $gradient: linear-gradient(to right, #00d2ff, #2b6bcc);
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;

    &:after {
        background: $gradient;
    }
}

.zonalhaz {
    $gradient: linear-gradient(to right, #00d2d3, #10ac84);
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:after {
        background: $gradient;
    }
}

.cesque {
    $gradient: linear-gradient(to right, #ff9f43, #ee5253);
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:after {
        background: $gradient;
    }
}

.coins {
    $gradient: linear-gradient(to right, #f368e0, #a55eea, #5f27cd);
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:after {
        background: $gradient;
    }
}